name: 'Linter'

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
       python-version: [3.6]
    steps:
     - uses: actions/checkout@v2
     - uses: actions/setup-python@v2
     - name: Set up Python ${{ matrix.python-version }}
       with:
         python-version: ${{ matrix.python-version }}
     - name: Install dependecies
       run: |
         pip install poetry
         make install      
     - name: Linter
       run: | 
         make lint
